/* Add a black background color to the top navigation */
.topnav {
    background-color: maroon;
    position: fixed;
    overflow: auto;
    width: 100%;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: white !important; 
}
