<!DOCTYPE html>
<html>
<head>
    <title>UPLB Campus Map </title>
    <link rel="icon" href="static/img/uplb1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css" integrity="sha384-ZlNfXjxAqKFWCwMwQFGhmMh3i89dWDnaFU2/VZg9CvsMGA7hXHQsPIqS+JIAmgEq" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    <link rel="stylesheet" href="static/css/leaflet-sidebar.css" />
    <link rel="stylesheet" href="static/css/header.css" />
    <link rel="stylesheet" href="static/css/leaflet-search.css" />
    <link rel="stylesheet" href="static/css/query.css" />
    <link rel="stylesheet" href="static/css/L.Control.locate.css" />
    <link rel="stylesheet" href="static/lib/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.4/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css' rel='stylesheet' />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 91.2%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .lorem {
            font-style: italic;
            text-align: justify;
            color: #AAA;
        }
    </style>
</head>

<body>

	<div class="topnav" id="myTopnav">	
		<img src="static/img/uplb1.png" height="50px" width="55px" style="float: left; margin-left:3px;margin-top:3px;">
		<img src="static/img/upsilon1.png" height="45px" width="45px"  style="float: left; margin-left:20px;margin-top:5px;">
		<!--img src="img/hilaga.png" height="38px" width="76px"  style="float: left; margin-left:20px;margin-top:7px;"-->
		<a>UPLB Campus Map</a>
	</div>

    <div id="map"></div>
    <!--div class="leaflet-control-container">
        <div class="leaflet-top leaflet-right">
          <div id="overpass-api-controls" class="leaflet-bar leaflet-control">
            <input id="query-textfield" size="40" placeholder="e.g. amenity = cafe, restaurant, college, school" >
            <input id="query-button" type="button" value="Search Non-UPLB Features">
          </div>
        </div>
      </div-->

    <div id="sidebar" class="leaflet-sidebar collapsed">
        <!-- Nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <ul role="tablist">
                <li><a href="#myInfo" role="button" class="fas fa-info-circle" class="btn" data-toggle="modal"></a></li>
				<li><a class="fa fa-home" onClick="window.location.reload()" ></a></li>
				<li><a href="{{ url_for('static', filename='uplb_sv.html') }}" role="tab"><i class="fas fa-street-view"></i></a></li> 
                <li><a href="#email_me" role="button" class="fa fa-envelope" class="btn" data-toggle="modal"></a></li>
				<li><a href="https://twitter.com/UPLBOfficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role="tab"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>

    <!-- Information -->
  <div class="modal fade" id="myInfo" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">How to use this Web Map</h4>
        </div>
        <div class="modal-body">
          <p>This UPLB Campus Web Map is beta version. Please contact UPLB communications office for the Official public realease of the platform. Thank you!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
        <!-- Email -->
  <div class="modal fade" id="email_me" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">We would like to hear from you!</h4>
        </div>
        <div class="modal-body">
          <p>Please send email to hilaga.ph@gmail.com for questions/suggestions regarding this web map.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

    <script>
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myInfo").modal();
        });
    });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/osmtogeojson@2.2.12/osmtogeojson.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <script src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet-src.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.js'></script>
    <script src='https://cdn.osmbuildings.org/OSMBuildings-Leaflet.js'></script>
    <script src='https://cdn.osmbuildings.org/Leaflet.draw/0.2.0/leaflet.draw.js'></script>
    <script src="static/js/leaflet-color-markers.js"></script> 
    <script src="static/data/lmark.geojson"></script>
    <script src="static/data/route.geojson"></script>
    <script src="static/data/struc.geojson"></script>
    <script src="static/data/atm.geojson"></script>
    <script src="static/data/bank.geojson"></script>
    <script src="static/data/cafe.geojson"></script>
    <script src="static/data/fastfood.geojson"></script>
    <script src="static/data/internet.geojson"></script>
    <script src="static/data/library.geojson"></script>
    <script src="static/data/resto.geojson"></script>
    <script src="static/data/toilets.geojson"></script>
    <script src="static/data/waste_basket.geojson"></script>
    <script src="static/lib/leaflet/leaflet.js"></script>
    <script src="static/js/leaflet-search.js"></script>
    <script src="static/js/L.Control.locate.min.js"></script>
    <script src="static/js/map_all.js"></script>
    
</body>
</html>
